@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
:root{
    --primary-color: #ef233c;  
    --second-color: #d80032;  
    --third-color: #8d99ae;  
    --fourth-color: #2b2d42;  
    --fifth-color: #edf2f4;  
  }
body{
    background: var(--third-color);
}

::-webkit-scrollbar{
    width: 6px;
    background-color: var(--third-color);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.3);
}